.cont{
    height: 2000px;
}
/*nav bar*/

.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 24px
}
/* background */
.bird-box{
    position: relative;
    height: 600px;
    background-size: auto, 600px;
    background-position: top, center;
    background-attachment: fixed;
    overflow: hidden;

}
.logo{
    height: 100px;
    width: 100%;
    background-image: url(../imgs/black-bird-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}
.back {
    height: 100%;
    width: 100%;
    background-image: url(../imgs/back.jpg);
    background-size: cover;
    transition-timing-function: ease-in-out
}
.over {
    background-color: rgba(5, 0, 0, 0.1);
    height: 100%;
    width: 100%
}
