body{
    height: 2000px;
}
/*nav bar*/
.navbar-default{
    height: 55px;
    background-color: #f8f8f800;
    border-color: #e7e7e700;

}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 24px
}
/* background */
.bird-box{
    position: relative;
    height: 600px;
    background-size: auto, 600px;
    background-position: top, center;
    background-attachment: fixed;
    overflow: hidden;

}
.logo{
    height: 100px;
    width: 100%;
    background-image: url(../imgs/black-bird-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}
.back {
    height: 100%;
    width: 100%;
    background-image: url(../imgs/back.jpg);
    background-size: cover;
    transition-timing-function: ease-in-out
}
.over {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%
}
#startchange {
    position: absolute;
    bottom: 30px;
    left: 0px;
}
/* what we do sect */
.we-do {
    background-color: #fff;
    min-height: 500px;
    margin-top: 40px;

}
.we-do .text .img {
    padding-top: 400px
}
.we-do .text h2  {
    font-size: 45px;
    font-weight: bold;
    color: #000
}
/* ------ test -------*/
.page {
    height: 200px;
   /* text-align: center;*/
    overflow: hidden;
    padding-top: 100px;
    background: #555;
    cursor: pointer;
}
.page h2 {
    font-size: 100px;
    font-weight: bolder;
    
}
.highlight {
    height: auto;
}